@model Muebleria18.Models.AbmDepartmentModels
@{
    ViewBag.Title = "AbmDepartment";
}

<h2>AbmDepartment</h2>

<!--                    Accion                  Controller-->
@using (Html.BeginForm("InsertDepartment", "AbmDepartment", FormMethod.Post))
{
    @Html.ValidationSummary()
    <article>
        <table align="center">
            <tr>
                <td>
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.lstDepartmentModel)
                    @{
                        List<SelectListItem>
                        listItemsIns = new List<SelectListItem>();


                        foreach (var unDpto in Model.lstDepartmentModel)
                        {
                            listItemsIns.Add(new SelectListItem
                            {
                                Text = unDpto.Name,
                                Value = unDpto.Id.ToString()
                            });

                        }
                     

                        @Html.DropDownListFor(model => model.lstDepartmentModel, listItemsIns, "-- Seleccionar Tipo Instalacion --")

                    }
                </td>
            </tr>
            <tr>
                <td><input id="mensaje" type="text" value="@Model.mensaje.ToString()" readonly="readonly" /></td>
                @*<td>@Html.ActionLink("Lista de Clientes", "ListarPersonas", "ABMPersonas")</td>*@
            </tr>
            <tr>
                <td><input id="btnRegistrar" type="submit" value="Ingresar" /></td>
                <td></td>
            </tr>
        </table>
    </article>
}